.App {
  min-height: 100vh;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.search-button {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
  padding: 10px 20px;
  color: black;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

